/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

main {
  width: 500px;
  min-height: 100px;
  background: rgb(240, 240, 240);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
